@import "bootstrap/scss/bootstrap";

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


html {
    scroll-behavior: smooth;
}

body {
    overflow: auto;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Estilos adicionales para navegadores antiguos */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}



.header-img img {
    width: 5rem;
}

.header-menu-link:hover {
    color: var(--bs-orange) !important;
}

.active {
    color: var(--bs-orange) !important;
}

.btn-login,
.btn-register {
    background-color: var(--bs-orange) !important;
}

.btn-orange {
    background-color: var(--bs-orange) !important;
    color: white;
}

.btn-orange:hover {
    color: white;
}

.item-link-footer:hover {
    color: var(--bs-orange) !important;
    border-color: var(--bs-orange) !important;
}

.product-card-image {
    width: 80%;
    height: 200px;
    object-fit: contain;
}

.product-card-image .over {
    background: #fff;
    opacity: 0;
    position: absolute;
    transition: .8s;
}

.carousel-item img {
    width: 80%;
    height: 200px;
    object-fit: contain;
}

.table-pruchase-item-img {
    width: 120px;
    height: 100px;
    object-fit: contain;
}

.offcanvas-item-img {
    width: 90px;
    height: 80px;
    object-fit: contain;
}